.row{
    height:100vh;
}
.first-col{
    background:url(../../assets/img/pic31.png);
    background-repeat:no-repeat;
    background-position:center center;
}

.second-col{
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
   
}

.second-col:before{
    content:'';
    position:absolute;
    background:url(../../assets/img/pic32.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    height:100%;
    width:100%;
    transform:rotate(85deg);
    overflow-x:hidden;
    top:0;
    left:0;
}
.content{
    width:350px;


}
.content h4{
    font-weight:bolder;
    margin-bottom:20px;
}
.content p{
    text-align:justify;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:20px;
    border-radius:10px;
}