<div class="container-fluid px-5 py-3">
 <div class="row mx-auto">

  <div class="col-md-6 mx-auto first-col">

<div class="first-col-first-row">

  <div class="box1"></div>
  <div class="box2"></div>
</div>
<div class="first-col-second-row ">
 <div class="content">
  <h4>Where we met</h4>
  <p>NSS made us meet together work together create changes together. At the end this made our life filled with colours
  </p>
 </div>
</div>
  </div>
  <div class="col-md-6 mx-auto second-col">


  </div>

 </div>
</div>
