.row{
    height:100vh;
}
.box{

    height:200px;
    width:200px;
    margin:0 auto;
    background-color:greenyellow
}
.first-col{
    display:flex;
    justify-content:center;
    align-items: center;
}
.second-col{
 margin:auto;
}

.swiperContainer{
    height:200px;


}
